@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


img{
    width: 100vw;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 3px black;
    padding: 25px 0px;
    background-color: red;
    color: white;
}

a:hover{
    background-color: rgba(255, 0, 0, 0.545);
}